.cardList {
    width: 300px;
    min-height: 200px;
    float: left;
    padding: 10px;
    margin: 10px;
    background: #bbbbbb;
}

.cardListName {
    font-weight: bold;
    margin: 5px;
    text-align: left;
}

.card {
    width: 250px;
    margin: 0 auto;
    padding: 5px;
    margin: 5px;
    text-align: left;
}